name: Build and publish wheels

on:
  push:
    tags: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python dependencies
        run: uv sync --frozen --no-dev --all-extras

      - name: Run unit tests
        run: uv run --no-dev --all-extras --with pytest pytest tests

      - name: Build wheels
        run: uv build

      - name: Publish wheels
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
